@page "/lang"

<div class="container" style="padding: 20px;">
    <div class="row">
        
        <div class="col">
        <h1>Language</h1>
        Change User Language
            
        </div>

        <div class="col">
           
        </div>
    </div>
</div>

@code {

}